<h1>About</h1>

<p>
Hello, I am a Software Engineer located in the United States. I figured since I work in web development, it was about time to at least provide my own personal site to just talk about myself. I mean all the cool kids are doing it. I wanted to be more personable in this section as opposed to technical as in my resume. I'm not sure really what to include in here and maybe I might go more in depth on some of the topics I feel passionate about here. Maybe blog style later?
</p>

<h2>Interests</h2>

<ul>
  <li>Dancing</li>
  <li>Bitcoin</li>
  <li>Finance</li>
  <li>Anime</li>
  <li>Music</li>
</ul>


