<h1>Projects</h1>

<hr>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Personal Website</h5>
    <hr class="mv-1">
    <p class="card-text">Self explanatory, you are looking at it :D.</p>
    <%= link_to "Github Repo", "https://github.com/CBrashear/personal_site", target: "#" %>
  </div>
</div>
