// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$jumbotron_color: #e9ecef;

body {
  background-color: rgb(183, 204, 223);
}

h1 {
  text-align: center;
}

// Index page
.section_content_body {
  background-color: $jumbotron_color;
  padding: 2em;
  margin-bottom: 2em;
}

.section_button {
  margin-top: 15px;
}

.page-info {
  width: 75%;
}
